In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Retrieve the HTML content of the website
url = 'https://www.imdb.com/chart/top/?ref_=nv_mv_250'
response = requests.get(url)

In [3]:
# Parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
# Find all movie elements
movies = soup.find_all('td', class_='titleColumn')

In [28]:
# Extract the desired information
data = []
for movie in movies:
    title = movie.find('a').text
    year = movie.find('span', class_='secondaryInfo').text
    year = year[1:-1] # to remove the brackets around the year
    rating = movie.find_next_sibling('td', class_='ratingColumn imdbRating').find('strong').text
    director = movie.find('a')['title'].split('(')[0].strip()
    #actors = movie.find('a')['title'].split(",")[1:] #to get actors list
    #actors = [actor.strip() for actor in actors]
    actors = ', '.join(map(str, movie.find('a')['title'].split(',')[1:]))
    data.append({'Title': title, 'Year': year, 'Rating': rating, 'Director':director, 'Actors':actors})

In [31]:
# Creating  a dataframe
df = pd.DataFrame(data)
df

,Title,Year,Rating,Director,Actors
0,The Shawshank Redemption,1994,9.2,Frank Darabont,"Tim Robbins, Morgan Freeman"
1,The Godfather,1972,9.2,Francis Ford Coppola,"Marlon Brando, Al Pacino"
2,The Dark Knight,2008,9.0,Christopher Nolan,"Christian Bale, Heath Ledger"
3,The Godfather Part II,1974,9.0,Francis Ford Coppola,"Al Pacino, Robert De Niro"
4,12 Angry Men,1957,9.0,Sidney Lumet,"Henry Fonda, Lee J. Cobb"
...,...,...,...,...,...
245,The Help,2011,8.0,Tate Taylor,"Viola Davis, Emma Stone"
246,Aladdin,1992,8.0,Ron Clements,"Scott Weinger, Robin Williams"
247,Dersu Uzala,1975,8.0,Akira Kurosawa,"Maksim Munzuk, Yuriy Solomin"
248,Gandhi,1982,8.0,Richard Attenborough,"Ben Kingsley, John Gielgud"
249,Dances with Wolves,1990,8.0,Kevin Costner,"Kevin Costner, Mary McDonnell"

In [32]:
# save the dataframe into csv file
df.to_csv('imdb_top_movies.csv', index=False)